.login_form__header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
  text-align: center;

  .site-logo {
    display: block;
    width: 250px;
    height: 120px;
    background-image: url("../../logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.login_form {
  box-shadow: 0 3px 5px 0 hsl(0deg 0% 68% / 50%);
  background: #fff;
  padding: 35px 44px 40px;
  width: 100%;

  &__social {
    padding: 15px 0;

    button {
      border-radius: 4px;
      padding: 4px 20px;
      font-weight: 700;
      color: #2d3748;
    }

    .sign_in_text {
      color: #464646;
      font-size: 27px;
      padding-bottom: 18px;
      text-align: center;
    }
  }

  &__submit {
    height: 45px;
    font-weight: 700;
    background-color: #000;
    text-transform: uppercase;
  }

  .ant-form-item-label > label.ant-form-item-required:before {
    content: unset;
  }

  .ant-form-item-label {
    font-weight: 700;
    text-transform: uppercase;

    label {
      color: #4a5568 !important;
    }
  }


}

.login_form__footer {
  margin-top: 20px;
  text-align: center;
  font-size: 19px;
  font-weight: 700;
}